

    @font-face {
    font-family: 'Pepsi Light Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Pepsi Light Regular'), url('pepsi_light_by_lyricofficial_ddqo965.woff') format('woff');
    }
